.button
  padding-top 10px
  padding-bottom 10px
  border-radius  28px
  background-color #00ecf4
  border 1px solid #00ecf4
  color white
  min-width 200px
  transition background-color.3s ease, border .3s ease
  &:hover
    background-color transparent
    border 1px solid white
  .q-btn__wrapper:before
    box-shadow none
  .q-focus-helper
    display none